안녕하세요. 수강생 여러분~! Chapter09 ~ 13 수업은 잘 들으셨나요?

Chapter09 ~ 13의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제0]__


오즈 코딩 스쿨 백엔드 8기 과정에 참여한 수강생 중 3명의 수강생이 자율적으로 스터디 그룹을 결성했습니다.

스터디 그룹 내에는 한 주간 배운 내용으로 매주 쪽지 시험을 보는 룰이 있습니다. 점수는 채점자 마음입니다.

쪽지 시험의 점수를 직접 입력받고, 점수의 합을 출력해주세요!


<br>

In [ ]:
민수 = int(input("첫번째 수강생의 점수를 입력하세요: "))
철수 = int(input("두번째 수강생의 점수를 입력하세요: "))
영희 = int(input("세번째 수강생의 점수를 입력하세요: "))
# input으로 점수를 받고 int로 변환
total_score = (민수 + 철수 + 영희)
# 세 사람의 점수를 합산
print("총점은", total_score, "점 입니다.")
# print로 총점을 출력 -> 출력 형식: "총점은 " + total_score + " 점 입니다."

# 응용 문제 1 세 사람의 전체 평균 점수
average_score = total_score / 3
print("평균 점수는", average_score, "점 입니다.")
# 응용 문제 2 소수점 둘째 자리까지 표현
average_score = round(total_score / 3, 2)
print("평균 점수는", average_score, "점 입니다.")
# Round 함수를 사용하여 소수점 둘째 자리까지 반올림

총점은 233 점 입니다.
평균 점수는 77.66666666666667 점 입니다.
평균 점수는 77.67 점 입니다.

__[문제1]<br>__

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.

"비밀"을 "나폴레옹"과 "괴물" 사이에 추가해주세요

<br>

```
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
```

In [ ]:
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
# 영화 목록을 리스트로 정의
movie.insert(2, '비밀')
# insert 함수를 사용하여 인덱스 2에 '비밀' 추가
print("영화 목록:", movie)

# 응용 문제 1 영화 목록에서 서울의 봄을 삭제
del movie[0]
# del 함수를 사용하여 인덱스 0에 있는 서울의 봄 삭제
print("영화 목록:", movie)

# 응용 문제 2 영화 목록에서 나폴레옹을 삭제
movie.remove('나폴레옹')
# remove 함수를 사용하여 나폴레옹 삭제
# (이 문제 같은 경우 remove가 적용될지 모르고 출력해 본 경우로 구글링 결과 인덱스 0의 요소가 아닌 해당 값을 가진 요소를 삭제한 것으로 알게 됨)
print("영화 목록:", movie)

영화 목록: ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
영화 목록: ['나폴레옹', '비밀', '괴물', '베트맨']
영화 목록: ['비밀', '괴물', '베트맨']

---

__[문제1-2]<br>__

movie_rank 리스트에서 '베트맨'를 삭제해주세요

<br>

```
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
```

In [ ]:
movie_rank = ['1. 서울의 봄', '2. 나폴레옹', '3. 괴물', '4. 베트맨']
movie_rank.remove('4. 베트맨')
# remove 함수를 사용하여 나폴레옹 삭제
# 인덱스 0의 요소가 아닌 해당 값을 가진 요소를 삭제한 것으로 해당 요소가 없을 경우 오류 발생)
print("인기 영화 순위:", movie_rank)

# 응용 문제 2 영화 목록에서 나폴레옹을 삭제
movie_rank = ['1. 서울의 봄', '2. 나폴레옹', '3. 괴물', '4. 베트맨']
del movie_rank[0]
# del 함수를 사용하여 인덱스 0에 있는 서울의 봄 삭제
print("인기 영화 순위:", movie_rank)

인기 영화 순위: ['1. 서울의 봄', '2. 나폴레옹', '3. 괴물']
인기 영화 순위: ['2. 나폴레옹', '3. 괴물', '4. 베트맨']

__[문제2]<br>__

[언어1]과 [언어2] 리스트가 있을 때 언어1과 언어2의 원소를 모두 갖고 있는 [언어모음]이라는 list를 만들어주세요

```lang1 = ["C", "C++", "JAVA"]```<br>
```lang2 = ["Python", "Go", "C#"]```  

<br>
실행 예)
언어들
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
lang1 = ['Python', 'Java', 'C++', 'JavaScript']
lang2 = ['Ruby', 'Swift', 'Go', 'Kotlin']
programming_languages = lang1 + lang2
# 두 리스트를 병합 생성
print("프로그래밍 언어 목록:", programming_languages)

# 응용 문제 1 extend를 사용하여 추가해보자.
extend = ['A', 'B', 'C']
programming_languages.extend(extend)
# extend 명령어는 모델링 프로그램의 기능이 생각나서 사용해봤는데 연장하다라는 비슷한 의미인가보네요.
print("프로그래밍 언어 목록:", programming_languages)

프로그래밍 언어 목록: ['Python', 'Java', 'C++', 'JavaScript', 'Ruby', 'Swift', 'Go', 'Kotlin']
프로그래밍 언어 목록: ['Python', 'Java', 'C++', 'JavaScript', 'Ruby', 'Swift', 'Go', 'Kotlin', 'A', 'B', 'C']

---

__[문제3]<br>__

다음 리스트에서 최댓값과 최솟값, 그리고 평균을 출력해주세요.
<br>

```
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
```

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

입력된_데이터의_최댓값 = max(nums)
print("최댓값은: ", 입력된_데이터의_최댓값, "입니다.")
# max 함수를 사용하여 최댓값을 구한다.
입력된_데이터의_최솟값 = min(nums)
print("최솟값은: ", 입력된_데이터의_최솟값, "입니다.")
# min 함수를 사용하여 최솟값을 구한다.
입력된_데이터의_합계 = sum(nums)
print("합계는: ", 입력된_데이터의_합계, "입니다.")
# sum 함수를 사용하여 합계를 구한다.
입력된_데이터의_평균 = sum(nums) / len(nums)
print("평균은: ", 입력된_데이터의_평균, "입니다.")
# len 함수를 사용하여 데이터의 길이를 구한다.
# len의 경우 average = sum / len 과 같은 의미인 것 같고, 뭔가 데이터의 갯수를 세어주는 느낌인 것 같네요.

최댓값은:  10 입니다.
최솟값은:  1 입니다.
합계는:  55 입니다.
평균은:  5.5 입니다.

---

__[문제4]__

다음 리스트에 저장된 데이터의 개수를 화면에 구해주세요

```cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]```

In [ ]:
K_Food = ['피자', '김밥', '만두', '양념치킨', '족발', '햄버거', '떡볶이', '순대국밥', '라면', '초밥']
len(K_Food)
print("요리의 갯수는: ", len(K_Food), "개 입니다.")
# 위 문제에서 사용했던 len 명령어로 요리의 갯수를 출력해봤습니다.

요리의 갯수는:  10 개 입니다.

---

---

__[문제5]__

price 변수에는 날짜와 종가 정보가 저장돼 있습니다.
날짜 정보를 제외하고 가격 정보만을 출력해주세요

```price = ['20180728', 100, 130, 140, 150, 160, 170]```

<br>
출력 예) [100, 130, 140, 150, 160, 170]

In [ ]:
가격_목록 = ['20180728', 100, 130, 140, 150, 160, 170, 'ABC']
가격_목록[1:7] = [120, 130, 140, 150, 160, 170]
print("날짜를 제외한 가격 목록:", 가격_목록)
# 0,1,2,3,4,5,6 인덱스의 값 중 1부터 6까지 필요하므로 1:6

# 응용 문제 1 가격 목록에서 0, 8번째 인덱스의 값을 출력
# 인덱스 0과 8의 값을 출력하기 위해 각 각의 인덱스 번호를 사용해서 출력
가격_목록 = ['20180728', 100, 130, 140, 150, 160, 170, 'ABC']
print("0,8번째 인덱스의 값을 출력:", 가격_목록[0], 가격_목록[7])

날짜를 제외한 가격 목록: ['20180728', 120, 130, 140, 150, 160, 170, 'ABC']
0,8번째 인덱스의 값을 출력: 20180728 ABC

---

__[문제6]__

<br>
다음 딕셔너리를 사용하여 메로나 가격을 출력해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

<br>
출력 예) 메로나 가격: 1000

In [ ]:
판매중인_아이스크림_목록 = {'메로나': 1000, '죠스바':900, '바밤바': 1000, '월드콘': 1400, '빵또아': 1500}
# 아이스크림 목록 리스트 작성 -> {'A': 1234, 'B': 5678} 의 형식
print("판매중인 아이스크림 중 월드콘의 가격은:", 판매중인_아이스크림_목록['월드콘'], "원 입니다.")
# 리스트 중 필요한 'A'를 {"블라블라", ['A'], "블라블라"}와 같은 형태로 력력

판매중인 아이스크림 중 월드콘의 가격은: 1400 원 입니다.

---

__[문제6-1]__

다음 딕셔너리에서 메로나의 가격을 1300으로 수정해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

In [ ]:
판매중인_아이스크림_목록 = {'메로나': 1000, '죠스바':900, '바밤바': 1000, '월드콘': 1400, '빵또아': 1500}
판매중인_아이스크림_목록['바밤바'] = 9999
print(판매중인_아이스크림_목록)

{'메로나': 1000, '죠스바': 900, '바밤바': 9999, '월드콘': 1400, '빵또아': 1500}

---

__[문제7]__

아래 순서대로 주어진 수강생 이름과 등급을 하나의 딕셔너리로 만드는 코드를 작성해주세요


names : 나이썬, 김자바, 김씨, 박씨샵  
grades :   B       B      A      C

In [ ]:
# 이름 : 이철수, 김하늬, 김지은, 아이유
# 학번 : 2021110186, 2021110186, 2021110186, 2021110186

학생_명부 = dict(zip(['이철수', '김하늬', '김지은'], [2021110186, 2021110186, 2021110186, 2021110186]))
# 어떠한 전자사전을 만들기위해 안에 들어갈 내용들을 zip 명령어로 압축하고 사전으로 넣는다.
print("오즈대 컴퓨터 공학과: ", 학생_명부)

오즈대 컴퓨터 공학과:  {'이철수': 2021110186, '김하늬': 2021110186, '김지은': 2021110186}

---

__[문제8]__

아래 ice 딕셔너리에 데이터를 추가 후 출력해주세요

ice = {"메로나": [300, 20],  
              "비비빅": [400, 3],  
              "죠스바": [250, 100]}  


추가해야하는 데이터) 이름 : 보석바, 가격:650, 재고:10

In [ ]:
판매중인_아이스크림_목록 = {'메로나': [1000,30], '죠스바': [900,10], '바밤바': [1000,13], '월드콘': [1400,17], '빵또아': [1500,11]}
판매중인_아이스크림_목록['보석바']=[1200,7]
print("보석바 추가한 납품거래 내역서: " , 판매중인_아이스크림_목록)

보석바 추가한 납품거래 내역서:  {'메로나': [1000, 30], '죠스바': [900, 10], '바밤바': [1000, 13], '월드콘': [1400, 17], '빵또아': [1500, 11], '보석바': [1200, 7]}

---

__[문제9]__

아래 딕셔너리에서 key만 list 형태로 출력해주세요

ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
판매중인_아이스크림_목록 = {'메로나': 1000, '죠스바': 900, '바밤바': 1000, '월드콘': 1400, '빵또아': 1500}
판매중인_아이스크림_목록 = list(판매중인_아이스크림_목록.keys())
print(판매중인_아이스크림_목록)
판매중인_아이스크림_목록 = {'메로나': 1000, '죠스바': 900, '바밤바': 1000, '월드콘': 1400, '빵또아': 1500}
print(판매중인_아이스크림_목록.values())
# 딕셔너리의 key값만 출력해서 리스트화하는 문제인데 구성이나 출력과 관련하여 이해가 안되어 추가로 복습 및 해결 필요.

['메로나', '죠스바', '바밤바', '월드콘', '빵또아']
dict_values([1000, 900, 1000, 1400, 1500])